:root {
  --accent-color: #2196f3;
  --primary-color: #757575;
  --secondary-color: #212121;
  --wite-color: #ffffff;
  --black-color: #000000;
  --sacondary-wite-color: rgba(255, 255, 255, 0.6);
  --background-color-wite: #ffffff;
  --sacondary-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --accent-background-color: #2196f3;
  --hover-background-color: #188ce8;
  --filter-background-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: var(--background-color-wite);
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
}

.list {
  padding: 0;
  margin: 0;
}

/* ----------------------Header------------------------- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.accent-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header-logo {
  color: var(--black-color);
}

.navigation-list {
  list-style: none;
}

.navigation-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.navigation-item.current {
  color: var(--accent-color);
}

.contacts-list {
  list-style: none;
}

.contacts-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.contacts-item:hover,
.navigation-item:hover,
.contacts-item:focus,
.navigation-item:focus {
  color: var(--accent-color);
}

/* -----------------------------------Hero------------------------------------- */

.hero {
  background-color: var(--sacondary-background-color);
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wite-color);
}

.hero-btn {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--wite-color);
  background-color: var(--accent-background-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-background-color);
}

/* ---------------------------------Переваги------------------------------- */

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list {
  list-style: none;
}

.advantages-item {
}

.advantages-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.advantages-text {
  margin-top: 0;
  margin-bottom: 0;
}

/* -----------------------------------Work------------------------------ */

.work {
  padding-bottom: 94px;
}

.work-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color);
}

.work-list {
  list-style: none;
}

/* ----------------------------------Team------------------------------ */

.team {
  padding: 94px 0;
  background-color: var(--team-background-color);
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color);
}

.team-list {
  list-style: none;
}

.team-item {
  padding-bottom: 30px;
  background-color: var(--background-color-wite);
}

.team-img {
  margin-bottom: 30px;
}

.team-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
}

.team-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
}

/* -----------------------------------Footer------------------------ */

.footer {
  padding: 60px 0;
  background-color: var(--sacondary-background-color);
}

.footer-accent-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.footer-logo {
  color: var(--wite-color);
}

.footer-address {
  font-style: normal;
}

.address-list {
  list-style: none;
}

.address-primary {
  color: var(--wite-color);
}

.address-secondary {
  color: var(--sacondary-wite-color);
}

.address-item:nth-child(-n + 2) {
  margin-bottom: 9px;
}

.address-primary:hover,
.address-secondary:hover,
.address-primary:focus,
.address-secondary:focus {
  color: var(--accent-color);
}

/* ------------------------------------Portfolio------------------ */

.portfolio {
  padding: 94px 0;
}

.portfolio-filter {
  margin-bottom: 50px;
  list-style: none;
}

.filter-btn {
  padding: 6px 22px;
  min-width: 73px;
  height: 38px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background-color: var(--filter-background-color);
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--wite-color);
  background-color: var(--accent-background-color);
}

.portfolio-list {
  list-style: none;
}

.portfolio-item {
  padding-bottom: 20px;
  background-color: teal;
}

.portfolio-img {
  margin-bottom: 20px;
}

.portfolio-subtitle {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.portfolio-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-color);
}
